*{
  margin: 0;
  padding: 0;
}

#container {
  
  border-style: groove;
  
  
 
}

header {

  font-weight: bold;
  font-size: 16px;
  line-height: auto;
  color: #E1624F;

}
img {

  border-radius: 28px;
}